.card__area {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  display: flex;
  align-items:flex-start ;
  justify-content: center;
  flex-wrap: wrap; 
  margin-bottom: 20px;
}

.card__filmes {

}

.card__img{
  width: 23%;
  margin: 0.5rem;
}

.button__area{
  
}

